RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://blog.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://diet.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://diet.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fintechbit.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fintechbit.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://game-robo.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://game-robo.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intergalactic.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intergalactic.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kinoteka.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kinoteka.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://one-movies.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://one-movies.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://patike.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://patike.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://roughlyc.cp2.host25.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://roughlyc.cp2.host25.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://telefoni.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://telefoni.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://warcraft.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://warcraft.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.diet.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.diet.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fintechbit.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fintechbit.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.game-robo.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.game-robo.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intergalactic.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intergalactic.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kinoteka.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kinoteka.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.one-movies.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.one-movies.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.patike.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.patike.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.roughlyc.cp2.host25.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.roughlyc.cp2.host25.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.telefoni.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.telefoni.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.warcraft.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.warcraft.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://diet.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://diet.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fintechbit.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fintechbit.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://game-robo.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://game-robo.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intergalactic.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intergalactic.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kinoteka.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kinoteka.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://one-movies.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://one-movies.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://patike.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://patike.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://roughlyc.cp2.host25.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://roughlyc.cp2.host25.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://telefoni.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://telefoni.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://warcraft.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://warcraft.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.diet.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.diet.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fintechbit.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fintechbit.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.game-robo.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.game-robo.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intergalactic.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intergalactic.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kinoteka.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kinoteka.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.patike.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.patike.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.roughlyc.cp2.host25.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.roughlyc.cp2.host25.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.telefoni.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.telefoni.roughlycoding.rs$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.warcraft.roughlycoding.rs/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.warcraft.roughlycoding.rs$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

